#scholarships h4 {
  border-bottom: 1px solid; }

#scholarships p.text_bigger {
  font-size: 1.2em;
  font-weight: 600; }

#scholarships p a {
  font-weight: 600; }

.title-container {
  display: flex;
  align-items: center; }
  .title-container svg {
    background-color: #1A5F5D;
    fill: #fff;
    margin-right: 1em; }
  .title-container h1 {
    font-size: 2em;
    line-height: 1.2; }
    @media screen and (min-width: 769px), print {
      .title-container h1 {
        font-size: 3em;
        line-height: 1.5; } }

.container__short-version {
  background-color: #67BFB7; }
  .container__short-version h2 {
    font-style: normal;
    text-align: center;
    color: #fff;
    font-size: 1.8em;
    line-height: 1.2; }
    @media screen and (min-width: 769px), print {
      .container__short-version h2 {
        font-size: 2em;
        line-height: 1.5; } }
  .container__short-version a {
    color: #fff; }

.container__long-version {
  background-color: #fff; }
  .container__long-version h3 {
    color: #1A5F5D;
    font-size: 1.8em;
    line-height: 1.2; }
    @media screen and (min-width: 769px), print {
      .container__long-version h3 {
        font-size: 2em;
        line-height: 1.5; } }

.container_diversity-partners img {
  max-width: 300px; }
